/* ------------common ultilies--------------------------- */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
header{
    
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    
}
.header-section{
    padding-top: 30px;
    width:1440px;
    background: #2D25A0;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 40px;
}
.Full-div{
    
     display: flex;
    text-align: center;
    transition: transform 0.25s ease;
   
}
.Half-div{
    width: 50%;
    

    
   
}
.white{
    color: #FFFFFF;
    font-size: 30px;
    font-weight:bold;
    
}
.style-button{
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 24px;
    color: #FFFFFF;
    
}
.style-button:hover{
  background-color: blue;
}

.Half-div:hover img{
  transform: scale(0.9);
  
    
}
.Full-div img{
    
    width: 556px;
    height: 438px;
    
}
 /* --------------start main--------------------- */
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }
 /* -----------------container--------------------------- */
 .container{
     width: 1050px;
     margin-bottom: 21px;
     
 }
/* ----------------------player style--------------------- */
.players{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    
    
    
    
}
.player{
    padding-left: 10px;
    height: 474px;
    width: 330px;
    background-color: #FFFFFF;
    box-shadow:hsla(0, 0%, 50%, 0.3) 1px 1px 10px;
    
    
    
}

.players img{
    width: 300px;
    height: 256px;
    margin-left: 10px;
    margin-top: 10px;
    
}

/* ------------------------All highlight section style---------------------- */
.High-container{
    width: 1050px;
    margin-top:80px;
}
.All-Highlight{
     display: flex;
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.Half-Highlight{
 width:50%;
 text-align: center;
}
.Half-Highlight img{
    width: 567px;
    height: 427px;
}
/*---------------------------- club section style--------------------------------- */
.Club-section{
    width: 1050px;
    margin-top: 100px;
    text-align: center;
}
.club-title{
    text-align: center;
    font-size: 60px;
    color:  #2D25A0;
}
hr{
    border: gray solid 1px;
    width: 80%;
}
.Best-player img{
    border-radius: 50%;
    background-color: #FFFFFF;
}
/* --------------------------------footer style---------------------------- */

.footer{
    
    margin-top:180px;
    text-align: center;
}
.footer-image{
    text-align: center;
    margin-top: 180px;

}


footer img{
    width: 266px;
    height:110px;
}
.social-icon{
   
    width: 170px;
    height:32px;
}

/*---------------------- Media query start------------------------ */
/* ----------------------------media query for mobile------------------ */
@media only screen and (max-width:688px) {
    .header-section{
     width:107%;
    }
    .Full-div{
       flex-direction: column;
       
    }
    .white{
        font-size: 21px;
    }
    .style-button{
        padding: 10px;
    }
    .Full-div img {
        width: 158px;
        height: 174px;
        margin-top: 27px;
    }
    .Half-div{
        width:100%;
    }
    .container{
        width: 86%;
    }
    .players{
        grid-template-columns: repeat(1, fr);
    }
    .High-container{
        width: 100%;

    }
    .All-Highlight{
        grid-template-columns: repeat(1, 1fr);
    }
    .Half-Highlight {
        width: 100%;
        text-align: center;
    }
    .Half-Highlight img {
        width: 283px;
        height: 332px;
        margin-top: 69px;
    }
    .Club-section{
        width: 100%;
    }
    .club-title {
        text-align: center;
        font-size: 28px;
        color: #2D25A0;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        width: 100%;
    }
    .footer-image{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* ---------------------------media query for tablet---------------------------------------- */
@media  only screen and (min-width:688px) and (max-width:992px) {
    .header-section{
        width: 100%;
       }
       .Full-div{
           grid-template-columns: repeat(2, 1fr);
       }
       .container{
           width: 100%;
       }
       .players{
           grid-template-columns: repeat(3, 1fr);
       }
       .High-container{
           width: 100%;
   
       }
       .All-Highlight{
           grid-template-columns: repeat(2, 1fr);
       }
       .Club-section{
           width: 100%;
       }
       .players{
           grid-template-columns: repeat(2, 1fr);
       }
       footer{
           width: 100%;
       }
       .footer-image{
           grid-template-columns: repeat(2, 1fr);
       }
    
}
/* ----------------------------------The End---------------------------------------- */